#parcours {
  background: linear-gradient(135deg, #E8EAF6, #F8F5F2);
  color: #333;
  padding: 60px 0;
}

.parcours-columns {
  display: flex;
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap; 
}

.parcours-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 320px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.parcours-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.parcours-item h4 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 12px;
}

.parcours-item p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin: 0;
}


.competences-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
  font-weight: 600;
}

.nav-column .nav-link-item {
  color: #666;
  font-weight: 600;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-column .nav-link-item.active {
  color: #fff;
  background-color: #007bff;
  transform: scale(1.05);
}

.nav-column .nav-link-item:hover {
  background-color: #0056b3;
  color: #fff;
}

.tab-content-column {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.icon-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.icon-col {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.icon-image {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.icon-image:hover {
  transform: scale(1.1) rotate(5deg);
}